<H1>
Game-related Rules
</H1>
<P>
The Kitaran Sea Campaign uses the standard <CITE>Advanced Dungeons and Dragons, Second Edition</CITE> rules, published by <A HREF="http://www.wizards.com/dnd/" TARGET="_top">TSR, Inc.</A> (now part of WotC...). Since it is a Psionics-oriented campaign, the additional Psionics rules from the <CITE>Complete Psionicist's Handbook</CITE> and <CITE>The Will and The Way</CITE> are also used heavily. 
</P>
<P>
I have tried to run with the out-of-the-box rules for most occasions, but I have made a few additions and clarifications to them...
</P>
<H2>
Rules Modifications
</H2>
<OL>
<LI>
<P>
<B>Psionicists can use any Devotion or Science in their known Disciplines.</B>
</P>
<P>
Basically, psionicists don't have to pick their powers. Since PSPs act as a game-balancing force, keeping psionics from being able to do everything all the time, players are not limited to the number of &quot;known&quot; powers as given in the level tables. Upon gaining a new Discipline, the character automatically knows how to use all the powers available for that Discipline.
</P>
<P>
While this makes psionicists much more versatile, it speeds character creation and game play. (The DM really needed faster NPC creation...)
</P>
</LI>
<LI>
<P><B>
For every Discipline developed by a Psionicist after the primary Discipline, a cumulative -1 penalty is applied to all power check rolls when using that Discipline.
</B></P>
<P>
For example: Hygulf's primary Discipline is Psychometabolism. He also has learned Psychoportation and Metapsionics, in that order. So, his power checks for Psychometabolic powers are as rolled, his Psychoportive checks are at a -1, and his Metapsionic checks are rolled with a -2 modifier.
</P>
<P>
This modification allows us to retain the distinction between primary and secondary Disciplines, in the face of the previous rule modification.
</P>
</LI>
<LI>
<P><B>
Magic-users can use any spell from their spell books, up to the maximum number per day as listed in the <CITE>Player's Handbook</CITE>. 
</B></P>
<P>
Basically, the same thing for mages. Every day the mage must still spend time studying his spell books to &quot;remember&quot; his spells, but he does not need to choose which spells he will use during the day until he is ready to use them.
</P>
<P>
This modification also speeds character creation and game-play.
</P>
</LI>
<LI>
<P><B>
Clerics can use any spell available to them (based on deity), up to the maximum number per day as listed in the <CITE>Player's Handbook</CITE>.
</B></P>
<P>
What's good for the goose is good for the gander. Same game effects as for mages, above. I always wondered why, if a cleric got his spells from his god, he had to pick which spells he would use during the day before he knew what would happen. Did the gods only give out spells in the morning? What if your god's alarm clock didn't go off... would you not get any spells?
</P>
</LI>
<LI>
<P><B>
Non-spellcasting characters and monsters are now much less powerful than their spellcasting or psionics-using opponents.
</B></P>
<P>
Since all the players are psionic and most of their tough opponents are also, this hasn't yet been a problem.
</P>
</LI>
</OL>
<H2>
Rules Clarifications
</H2>
<OL>
<LI>
<P><B>
The <I>Stoneskin</I> spell can only be cast once on a character at a time. 
</B></P>
<P>
You cannot &quot;stack&quot; <I>Stoneskin</I>s to get more of them. The second and any additional spells simply fail to work.
</P>
</LI>
<LI>
<P><B>
The Nonweapon Proficiency <I>Psychic Defense</I> conveys the ability to recognize the &quot;psychic signature&quot; of the attacking psionic.
</B></P>
<P>
So, a character using <I>Psychic Defense</I> can tell who is trying to contact her and can choose to not defend against a contact attempt from a friend. As for psionicists, a character can only recognize a &quot;signature&quot; after she has been successfully contacted by that psionic once. For first contact from a psionic, the &quot;signature&quot; is unknown.
</P>
</LI>
<LI>
<P><B>
The Nonweapon Proficiency <I>Crystal Focus</I> creates a power score &quot;range&quot;.
</B></P>
<P>
When a character uses a <I>Crystal Focus</I>, the +1 bonus on the power check is applied normally, but an unmodified or modified roll of the power score will cause the power score result. Effectively giving the character two chances to obtain the power score result.
</P>
</LI>
</OL>
